@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end rese */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-size: 18px;
  margin: 20px;
}

.categories a{
  color: #039d94;
  text-decoration: none;
}

.lenguajes {
  display: flex;
  gap: 10px;
  font-weight: 400;
  color: white;
  padding: 20px;
  background-color: pink;
  border-radius: 5px;
}

.hero {
  position: relative;
}

.overlay {
  display: flex;
  align-items: end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.437); */
}

.text {
  padding: 30px;
  color: white;
}

.text p {
  font-size: 18px;
  font-weight: 400;
}

.text h2 {
  padding: 20px 0;
  font-size: 24px;
  font-weight: 500;
}

.hero img {
  filter: brightness(40%);
  width: 100%;
}

.button {
  background-color: pink;
  padding: 20px;
  color: white;
  font-weight: 400;
  width: 90px;
  text-align: center;
  cursor: pointer;
}

.buttons-container {
  display: none;
}

@media (width < 870px) {
  .buttons-container {
    display: block;
    cursor: pointer;
    z-index: 999;
    width: 32px;
    overflow: hidden;
  }
  .buttons-content {
    display: flex;
    transition: all .5s ease;
  }
  .categories {
    position: absolute;
    top: -20px;
    left: -230px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    height: 100vh;
    padding: 100px 20px 20px 20px;
    z-index: 99;
    transition: all .5s ease;
  }
  .visible {
    left: -20px;  
  }
  .change-button {
    margin-left: -40px;
  }

  .button-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .black {
    background-color: rgba(0, 0, 0, 0.309);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    opacity: 0;
    transition: all .5s ease;
  }
  .blackvisible {
    opacity: 1;
  }
}